body {
    background-color: rgb(11, 182, 125);
    color: white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: rgb(7, 113, 159);
    border-style: none;
    color: white;
}
input {
    height: 25px;
}